{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">

  <div class="author__avatar">
    <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    {% if site.description %}
      <p class="author__summary">{{ site.description }}</p>
    {% endif %}

    <ul class="author__urls social-icons">
      {% if author.location %}
        <li class="author__meta-item"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i><span>{{ author.location }}</span></li>
      {% endif %}
      {% if author.employer %}
        <li class="author__meta-item"><i class="fa fa-fw fa-building" aria-hidden="true"></i><span>{{ author.employer }}</span></li>
      {% endif %}

      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i><span>Email</span></a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i><span>Google Scholar</span></a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i><span>GitHub</span></a></li>
      {% endif %}
      {% if author.dblp %}
        <li><a href="{{ author.dblp }}"><i class="ai ai-dblp ai-fw" aria-hidden="true"></i><span>DBLP</span></a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid-square ai-fw" aria-hidden="true"></i><span>ORCID</span></a></li>
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i><span>Website</span></a></li>
      {% endif %}
    </ul>
  </div>
</div>
