<div class='paper-box paper-box--featured'>
  <div class='paper-box-image'>
    <div>
      <div class="badge">ICLR 2026</div>
      <picture>
        <source
          type="image/webp"
          srcset="images/geopurify-480.webp 480w, images/geopurify-768.webp 768w, images/geopurify-1024.webp 1024w"
          sizes="(max-width: 768px) 100vw, 34vw"
        >
        <img
          src="images/geopurify-1024.png"
          alt="GeoPurify"
          width="1024"
          height="534"
          loading="lazy"
          decoding="async"
        >
      </picture>
    </div>
  </div>
  
  <div class='paper-box-text'>
    
    <div class="paper-title">
      GeoPurify: A Data-Efficient Geometric Distillation Framework for Open-Vocabulary 3D Segmentation
    </div>
    
    <div class="paper-authors">
      <strong>Weijia Dou</strong>, Xu Zhang, Yi Bin*, Jian Liu, Bo Peng, Guoqing Wang, Yang Yang, Heng Tao Shen
    </div>
    
    <div class="paper-venue">
      The 14th International Conference on Learning Representations (ICLR), 2026
    </div>
    
    <div class="meta-links">
      <a class="meta-link" href="https://arxiv.org/abs/2510.02186">arXiv</a>
      <a class="meta-link" href="https://openreview.net/forum?id=mN49LupE8l">OpenReview</a>
      <a class="meta-link" href="https://github.com/tj12323/GeoPurify">Code</a>
    </div>

    <div class="paper-abstract">
      <ul>
        <li>Diagnosed feature inconsistency when projecting 2D VLM features into 3D.</li>
        <li>Proposed <b>GeoPurify</b> with geometric contrastive distillation to recover latent 3D structure.</li>
        <li>Reached SOTA with only <b>~1.5%</b> annotated data.</li>
      </ul>
    </div>

  </div>
</div>