<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav" aria-label="Section navigation">
        <button type="button" aria-label="Toggle navigation" aria-controls="site-nav-hidden-links" aria-expanded="false">
          <div class="navicon" aria-hidden="true"></div>
        </button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul id="site-nav-hidden-links" class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
